.nav-link {
  color: #eee !important;
}
.ads {
  height: 340px;
  width: 100%;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #6080d6;
}
hr {
  margin: 30px -20px 20px;
  border-top: 3px solid #c9c7c7;
}
.product-img {
  height: 200px;
  width: auto;
}
.product-carousel {
  background-color: #c9c7c7;
}
.product-title {
  font-size: 14px;

  color: rgb(49, 48, 48);
}
.product-leftContainer {
  min-width: 40%;
  padding: 40px 0 0 80px;
}
.cart-header {
  padding: 15px 24px;
}
.product-rightContainer {
  margin-top: 50px;
}
.product-leftContainer-Img {
  background-color: white;
  padding: 15px 20px;
  border: 1px solid #f0f0f0;
  width: 95%;
}
.remove {
  color: rgb(235, 101, 101);
}
.grp-button {
  width: 25%;
  margin: 5px;
  font-size: smaller;
  color: white;
  background-color: rgb(0, 0, 0);
}
.place-order {
  padding: 16px 22px;
  box-shadow: 0 -2px 10px 0 rgba(192, 184, 184, 0.1);
}
.price {
  float: right;
}
.place-order-button {
  background-color: rgb(255, 225, 64);
  display: flex;
  margin-left: auto;
}
.grp-button:hover {
  font-weight: bold;
}

.product-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 46%;
  height: 50px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
}
.badge {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
